<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Monitor 42Roma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Monitor 42Roma</h1>
            <a href="{{ auth_url }}" class="login-btn">
                Login con 42
                <svg viewBox="0 0 960 960">
                    <polygon fill="#ffffff" points="32,412.6 362.1,412.6 362.1,578 526.8,578 526.8,279.1 197.3,279.1 526.8,-51.1 362.1,-51.1 32,279.1"/>
                    <polygon fill="#ffffff" points="597.9,114.2 762.7,-51.1 597.9,-51.1"/>
                    <polygon fill="#ffffff" points="762.7,114.2 597.9,279.1 597.9,443.9 762.7,443.9 762.7,279.1 928,114.2 928,-51.1 762.7,-51.1"/>
                    <polygon fill="#ffffff" points="928,279.1 762.7,443.9 928,443.9"/>
                </svg>
            </a>
        </div>
    </div>
</body>
</html> 